.section{
    padding:25px 0
}

.section--centered {
    text-align: center;
}

.section__header {
    margin: 0;
    color: #3c7d9c
}

.section__subHeader {
    margin-top: 0;
    color: rgb(118, 151, 118)
}

.section_paragraph {
    line-height: 1.5;
}

.section__button {
    background-color: rgb(67, 105, 67);
    color: rgb(246, 237, 237);
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 16px;
    margin: 15px auto;
    font-family: kalam, sans-serif;
       
}


.section__image {
    border-image: 50%;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px rgb(125, 140, 185);
    border-radius: 5px;
}

